# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Ignore all tempfiles
/tmp

# Application
/public/*
!/public/.keep
!/public/local/
!/public/books-catalog/
# !/public/.htaccess
# !/public/robots.txt
# !/public/some-part-of-the-site

# Ignore systems and tools files
.DS_Store
.AppleDouble
.LSOverride

.fuse_hidden*
.directory
.Trash-*
.nfs*

Thumbs.db
ehthumbs.db
ehthumbs_vista.db

Session.vim
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
.idea
